@font-face {
  font-family: 'Bebas Neue';
  src: url('BebasNeue-Regular');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f2f2f2;
}

.topo {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
  background-color: #ffffff;
  padding: 20px 20px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pesquisa button {
  padding: 6px 10px;
  border: none;
  background-color: #D9D9D9;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
 .pesquisa input {
  padding: 6px;
  border: none;
  border-radius: 4px;
  margin-right: 5px;
}
 .pesquisa {
   margin-left: 150px;
 }

 /* ICONS */
 .icons a {
  margin-right: 10px;
  padding: 0 3px;
  color: #333;
  text-decoration: none;
}

.icons a:hover {
  color: #96BEE4;
}
/* ____________________________________________________________________________-- */
 

/* Parte Azul */

.blocoazul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #96BEE4;
  padding: 10px 10px;
}

.sociais {
  justify-content: flex-start;
  flex-direction: row;
  height: 35px;
}

/* Menu  */
.menu {
  margin-left: 20px;
}
.menu a:hover {
  color:#D9D9D9;
  text-decoration: underline;
}

.menu a {
  margin-right: 10px;
  padding: 0 15px;
  color: #333;
  text-decoration: none;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.menu a:hover {
  color: #96BEE4;
  text-decoration: none;
}