/* INDEX */
/* HEADER */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f2f2f2;
  font-family: "Poppins", sans-serif;
}


/* _________________________________________________ */
/* Slider */

.slider {
  width: 100%;
  height: 60vh;
  margin-top: 20px;
}

/* NOVIDADES*/
.produtos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}
.division2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.division2 img {
  width: 100%;
  max-width: 300px; /* ajuste o valor máximo de largura conforme necessário */
  height: auto;
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .produtos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .division2 {
    margin-bottom: 20px;
  }
}
/* ______________________________________________________________________________ */
/* Footer */


/* __________________________________________________________________________ */
/* Responsividade */

@media screen and (max-width: 1024px) {
  .slider {
    margin-top: 70px;
    z-index: 9;
  }
}