/* HEADER */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f2f2f2;
}

.topo {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
  background-color: #ffffff;
  padding: 20px 20px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pesquisa button {
  padding: 8px 10px;
  border: none;
  background-color: #D9D9D9;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.pesquisa input {
  
  border-radius: 5px;
  background-color: #D9D9D9;
  border: none;
  padding: 8px 85px;
  }

 .pesquisa {
   margin-left: 120px;
 }

 /* ICONS */
 .icons {
  margin-left: 650px;
 }
 .icons a {
  margin-right: 50px;
  padding: 0 3px;
  color: #333;
  text-decoration: none;
}

.icons a:hover {
  color: #96BEE4;
}

.iconify.iconify--bi{
position: absolute;
left: 1050px;
top: 20px;
display: inline-block;
width: 30px;
height: 30px;
cursor: pointer;
color: #333;
}

.iconify.iconify--codicon{
  position: absolute;
  left: 1220px;
  top: 20px;
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: #333;
}

.iconify.iconify--mdi{
  position: absolute;
  left: 1115px;
  top: 20px;
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: #333;
}

.iconify.iconify--teenyicons{
  position: absolute;
  left: 1300px;
  top: 20px;
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: #333;
}

.iconify.iconify--bi:hover{
  color: #96BEE4;
  transition: background 0.5s, color 0.3s, opacity 1s;
}
.iconify.iconify--codicon:hover{
  color: #96BEE4;
  transition: background 0.5s, color 0.3s, opacity 1s;
}
.iconify.iconify--mdi:hover{
  color: #96BEE4;
  transition: background 0.5s, color 0.3s, opacity 1s;
}
.iconify.iconify--teenyicons:hover{
  color: #96BEE4;
  transition: background 0.5s, color 0.3s, opacity 1s;
}

h4{
  position: absolute;
  left: 1047px;
  top: 57px;
  display: inline-block;
  width: 10px;
  height: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 0.7em;
  font-weight: 600;
  color: #817e7e;
}
.conta h4{
  position: absolute;
  left: 1215px;
  top: 50px;
  display: inline-block;
  width: 10px;
  height: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 0.7em;
  font-weight: 600;
  color: #817e7e;
} 


/* ____________________________________________________________________________-- */
 

/* Parte Azul */

.blocoazul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #96BEE4;
  padding: 10px 10px;
}

.sociais {
  justify-content: flex-start;
  flex-direction: row;
  height: 35px;
}

.sociais a{
  padding: 0 4px;
}


/* Menu  */
.menu {
  margin-left: 20px;
  display: flex;
  justify-content: center;
}
.menu a:hover {
  color:#D9D9D9;
  text-decoration: underline;
}

.menu a {
  margin-right: 35px;
  padding: 0 30px;
  color: #000000;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.0em;
  font-weight: 550;
  margin-top: 2%;
}

.menu a:hover, select:hover {
  color: #96BEE4;
  text-decoration: none;
}

select {
  text-transform:uppercase;
  border: none;
  margin-right: 35px;
  padding: 0 20px;
  color: #000000;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.0em;
  font-weight: 550;
  margin-top: 2%;
}

/* CARROSSEL  */

[data-component="slideshow"] .slide {
  display: none;
}

[data-component="slideshow"] .slide.active {
  display: block;
}