.apresentação {

    flex-basis: 50%;
    background-color: brown;
    width: 200px;
    height: 100vh;
    margin: 30px;
    border-radius: 20px;
}

.quem-somos {
    flex-basis: 50%;
    background-color: lightgreen;
    width: 200px;
    height: 100vh;
    margin: 30px;
    border-radius: 20px;
}
main {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.meia-lua {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 800px;
    height: 800px;
    background: blue;
    clip-path: circle(50% at 25% 90%);
}