@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* Geral */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

/* ______________________________________________________________________________ */
/* Header */

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}
nav {
  flex: 1;
  text-align: right;
}
nav ul {
  display: inline-block;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
}
nav ul li a {
  text-decoration: none;
  padding: 5px;
  color: #555;
}
nav ul li a:hover{
  background-color: #96BEE4;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  transition: 0.5s;
}

a {
  text-decoration: none;
  color: #555;
}
p {
  color: #555;
}

.header {
  background: radial-gradient(#fff, #ffd6d6);
}

.header row {
  margin-top: 70px;
}
.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-2 {
  padding: 30px;
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}
.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
.btn {
  display: inline-block;
  width: 250px;
  height: 50px;
  background: #96BEE4;
  color: #fff;
  padding: 13px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s, color 0.3s, opacity 1s;
}
.btn:hover {
  background: #035AAD;
}

/* ______________________________________________________________________________ */
/* Header Responsividade (Mobile) */

.menu-icon {
  width: 28px;
  margin-left: 20px;
  display: none;
}

/* ______________________________________________________________________________ */
/* Categorias */

.categories {
    margin: 70px 0;
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;

}

/* ______________________________________________________________________________ */
/* Produtos */

.small-container {
  position: relative;
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;

}

.col-4:hover {
  transform: translateY(-5px);
}
.col-4 p {
  font-size: 14px;

}
.rating .fa, .fa-solid, .fa-regular {
  color: #96BEE4;
}


/* ______________________________________________________________________________ */
/* Footer */

.footer {
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
}

.footer p{
  color: #8a8a8a;
}
.footer h3{
  color: #fff;
  margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
}
.footer-col-1 {
  flex-basis: 30%;
}
.footer-col-2 {
  flex: 1;
  text-align: center;
}
.footer-col-2 img{
  width: 180px;
  margin-bottom: 20px;
}
.footer-col-3, .footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}
ul {
  list-style: none;
}
.app-logo {
  margin-top: 20px;
}
.app-logo img {
  width: 140px;
}
.footer hr {
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}
.copyright {
  text-align: center;
}

/* ______________________________________________________________________________ */
/* Responsividade */

@media screen and (max-width: 800px) {

  /* Header */
  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    background: #035AAD;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  nav ul li {
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav ul li a{
    color: #fff;
  }
  .menu-icon {
    display: block;
    cursor: pointer;
  }

}

@media screen and (max-width: 600px) {
  /* Geral */
  .row {
    text-align: center;
  }
  .col-2, .col-3, .col-4 {
    flex-basis: 100%;
  }

}

/* ___________________________________________________________________ */
/* Todos os produtos (Página Produtos) */

.row-2 {
  justify-content: space-between;
  margin: 100px auto 50px;
}
select {
  border: 1px solid #96BEE4;
  padding: 5px;
}
select:focus {
  outline: none;
}

.page-btn {
  margin: 0 auto 80px;
}
.page-btn span {
  display: inline-block;
  border: 1px solid #96BEE4;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center; /* Centraliza na horizontal */
  line-height: 40px; /* Centraliza na vertical */
  cursor: pointer;
}

.page-btn span:hover {
  background: #96BEE4;
  color: #fff;
}

/* __________________________________________________________________ */
/* Produto detalhado (Página Produtos-detalhes) */

.single-product {
  margin-top: 50px;
}

.single-product .col-2 img {
  padding: 0;
}

.single-product .col-2 {
  padding: 20px;
}

.single-product h4 {
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}

.single-product select {
  display: block;
  padding: 10px;
  margin-top: 20px;
}

.single-product input {
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid #96BEE4;
}

input:focus {
  outline: none;
}

.single-product .fa {
  color: #96BEE4;
  margin-left: 10px;
}

.small-img-row {
  display: flex;
  justify-content: space-between;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

.circulo {
    width: 130px;
    height: 130px;
    border-radius: 75px;
    background-color: #96BEE4;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    text-align: center;
    color: white;

}

.circulo:hover {
  background: #035AAD;
  transition: background 0.5s, color 0.3s, opacity 1s;
}

.pontos {
    display: flex;
}


.iconify.iconify--material-symbols {
  position: absolute;
  left: 80px;
  top: 100px;
  display: inline-block;
  width: 48px;
  height: 48px;
  cursor: pointer;
  color: #96BEE4;

}
.iconify.iconify--material-symbols:hover {
  color: #035AAD;
  transition: background 0.5s, color 0.3s, opacity 1s;
}

/* HEADER */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
}

.topo {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
  background-color: #ffffff;
  padding: 20px 10px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pesquisa button {
  padding: 8px 10px;
  border: none;
  background-color: #D9D9D9;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.pesquisa input {
  
  border-radius: 5px;
  background-color: #D9D9D9;
  border: none;
  padding: 8px 85px;
  }

 .pesquisa {
   margin-left: 120px;
 }

 /* ICONS */
 .icons {
  margin-left: 650px;
 }
 .icons a {
  margin-right: 50px;
  padding: 0 3px;
  color: #333;
  text-decoration: none;
}

.icons a:hover {
  color: #96BEE4;
}

.iconify.iconify--bi{
position: absolute;
left: 1050px;
top: 20px;
display: inline-block;
width: 30px;
height: 30px;
cursor: pointer;
color: #333;
}

.iconify.iconify--codicon{
  position: absolute;
  left: 1220px;
  top: 20px;
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: #333;
}

.iconify.iconify--mdi{
  position: absolute;
  left: 1115px;
  top: 20px;
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: #333;
}

.iconify.iconify--teenyicons{
  position: absolute;
  left: 1300px;
  top: 20px;
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: #333;
}

.iconify.iconify--bi:hover{
  color: #96BEE4;
  transition: background 0.5s, color 0.3s, opacity 1s;
}
.iconify.iconify--codicon:hover{
  color: #96BEE4;
  transition: background 0.5s, color 0.3s, opacity 1s;
}
.iconify.iconify--mdi:hover{
  color: #96BEE4;
  transition: background 0.5s, color 0.3s, opacity 1s;
}
.iconify.iconify--teenyicons:hover{
  color: #96BEE4;
  transition: background 0.5s, color 0.3s, opacity 1s;
}

h4{
  position: absolute;
  left: 1047px;
  top: 57px;
  display: inline-block;
  width: 10px;
  height: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 0.7em;
  font-weight: 600;
  color: #817e7e;
}
.conta h4{
  position: absolute;
  left: 1215px;
  top: 50px;
  display: inline-block;
  width: 10px;
  height: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 0.7em;
  font-weight: 600;
  color: #817e7e;
} 


/* ____________________________________________________________________________-- */
 

/* Parte Azul */

.blocoazul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #96BEE4;
  padding: 10px 10px;
}

.sociais {
  justify-content: flex-start;
  flex-direction: row;
  height: 35px;
}

.sociais a{
  padding: 0 4px;
}


/* Menu  */
.menu {
  margin-left: 20px;
  display: flex;
  justify-content: center;
}
.menu a:hover {
  color:#D9D9D9;
  text-decoration: underline;
}

.menu a {
  margin-right: 35px;
  padding: 0 30px;
  color: #000000;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.0em;
  font-weight: 550;
  margin-top: 2%;
}

.menu a:hover, select:hover {
  color: #96BEE4;
  text-decoration: none;
}

select {
  text-transform:uppercase;
  border: none;
  margin-right: 35px;
  padding: 0 20px;
  color: #000000;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.0em;
  font-weight: 550;
  margin-top: 2%;
}

