@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* ___________________________________________________________________ */
/* Login */
body {
    background-color: #96BEE4;
    font-family: "Poppins", sans-serif;
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    height: 100vh;
  }
  .container h1 {
    font-size: 28px;
    font-weight: bolder;
    text-transform:uppercase;
    color: #fff;
    padding-bottom: 45px;
  }
  .container p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bolder;
    text-transform:uppercase;
    color: #035AAD;
  }
  
  .image {
    padding-top: 40px;
    background-color: #B4D3EF;
    flex-basis: 30%;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    height: 80vh;
  }
  
  .form {
    flex-basis: 70%;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    height: 80vh;
    padding: 0 50px;
  }
  
  .form h2 {
    font-size: 28px;
    font-weight: bolder;
    text-transform:uppercase;
    color: #035AAD;
    padding-top: 30px;
  
  }
  
  .image-top img {
    max-width: 100%;
    height: auto;
  }
  
  .image-middle h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .image-middle p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .image-bottom button {
    background-color: #96BEE4;
    border-radius: 20px;
    color: white;
    border: none;
    cursor: pointer;
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bolder;
  }
  
  .image-bottom p {
    font-size: 10px;
  }
  .image-bottom a {
    text-decoration: none;
  }
  
  .form {
    background-color: #fff;
  }
  
  .form h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form form {
    padding: 0 20px;
  }
  
  .form input,
  .form button {
    display: block;
    background-color: #d9d9d9;
    border-radius: 15px;
    border: none;
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    margin: 30px auto;
  }
  .form input {
    font-size: 20px;
    font-weight: bolder;
  }
  
  .form button {
    font-size: 18px;
    font-weight: bolder;
    background-color: #96BEE4;
    border-radius: 20px;
    width: 30%;
    margin: auto;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .input-container {
    background-color: #d9d9d9;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    height: 40px;
  }
  .form button:hover, .image-bottom button:hover {
    background-color: #004AAD;
    color: #fff;
    transition: background 0.5s, color 0.3s, opacity 1s;
  }
  .input-container i {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
  }
  
  .input-container input {
    width: 95%;
    padding: 8px;
    border-radius: 10px;
    
  }
  
  
  @media (max-width: 768px) {
    .container {
      flex-direction: row;
      margin: 10% 5%;
      padding: 0 20px;
    }
  
    .image,
    .form {
      flex-basis: 100%;
      margin-bottom: 20px;
    }
    .form button   {
  
      width: 60%;
    
    }
  }

  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f2f2f2;
}

.topo {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
  background-color: #ffffff;
  padding: 20px 20px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pesquisa button {
  padding: 8px 10px;
  border: none;
  background-color: #D9D9D9;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.pesquisa input {
  
  border-radius: 5px;
  background-color: #D9D9D9;
  border: none;
  padding: 8px 85px;
  }

 .pesquisa {
   margin-left: 120px;
 }

 /* ICONS */
 .icons {
  margin-left: 650px;
 }
 .icons a {
  margin-right: 50px;
  padding: 0 3px;
  color: #333;
  text-decoration: none;
}

.icons a:hover {
  color: #96BEE4;
}

.iconify.iconify--bi{
position: absolute;
left: 1050px;
top: 20px;
display: inline-block;
width: 30px;
height: 30px;
cursor: pointer;
color: #333;
}

.iconify.iconify--codicon{
  position: absolute;
  left: 1220px;
  top: 20px;
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: #333;
}

.iconify.iconify--mdi{
  position: absolute;
  left: 1115px;
  top: 20px;
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: #333;
}

.iconify.iconify--teenyicons{
  position: absolute;
  left: 1300px;
  top: 20px;
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: #333;
}

.iconify.iconify--bi:hover{
  color: #96BEE4;
  transition: background 0.5s, color 0.3s, opacity 1s;
}
.iconify.iconify--codicon:hover{
  color: #96BEE4;
  transition: background 0.5s, color 0.3s, opacity 1s;
}
.iconify.iconify--mdi:hover{
  color: #96BEE4;
  transition: background 0.5s, color 0.3s, opacity 1s;
}
.iconify.iconify--teenyicons:hover{
  color: #96BEE4;
  transition: background 0.5s, color 0.3s, opacity 1s;
}

h4{
  position: absolute;
  left: 1047px;
  top: 57px;
  display: inline-block;
  width: 10px;
  height: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 0.7em;
  font-weight: 600;
  color: #817e7e;
}
.conta h4{
  position: absolute;
  left: 1215px;
  top: 50px;
  display: inline-block;
  width: 10px;
  height: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 0.7em;
  font-weight: 600;
  color: #817e7e;
} 
