.topo {
    padding: 30px 20px;
    display: flex;
    justify-content: flex-start;
    background-color: #ffffff;
    
  }
.topo2 {
    padding: 30px 10px;
    display: flex;
    justify-content: center;
    background-color: #96BEE4;
  }