/* Reset básico */
* {
    margin: 0; /* Define a margem do elemento como 0, removendo qualquer espaço em branco ao redor do elemento */
    padding: 0; /*  Define o preenchimento do elemento como 0, removendo qualquer espaço entre o conteúdo do elemento e sua borda. */
}

/* __________________________________________________________________________ */
/* Corpo da página */
body {
    width: 100%; /* Define a largura da página como 100% */
    height: 100vh; /* Define a altura do elemento como 100% da altura da janela de visualização (viewport). */
    font-family: Arial, Helvetica, sans-serif;/* Define a família de fontes */
    background: #96BEE4;
    display: flex; /* Define o elemento como um contêiner flexível, permitindo que seus elementos filhos sejam posicionados com flexibilidade. */
    justify-content: center; /* Centraliza horizontalmente os elementos filhos dentro do contêiner flexível */
    align-items: center; /* Centraliza verticalmente os elementos filhos dentro do contêiner flexível. */
}

/* __________________________________________________________________________ */
/* Container geral */
.container {
    background: #fff; /* Cor de fundo */
    border-radius: 10px; /* Raios de borda */
    padding: 20px;/* Define o preenchimento do elemento */
    width: min-content; /* significa que a largura do elemento será definida pelo tamanho do conteúdo dentro dele */
    align-items: center; /* Centraliza verticalmente os elementos filhos dentro do contêiner flexível. */
    color:#333;/* Cor do elemento */
}

.titulo {
    font-size: 1.3em;/* define o tamanho da fonte do elemento como 1.3 vezes o tamanho da fonte do elemento pai (seria de 20,8 pixels (16 * 1.3) */
    margin-bottom: 2%; /* Define a margin  (afastamento) inferior */
}

.input {
    min-width: 300px; /* Tamanho mínimo */
    border-radius: 18px;
    border: 2px #999 solid;
    padding: 5px;
    margin: 0px 0px 12px -5px;
}

.input input {
    width: 80%;
    border: none; /* Sem borda */
    outline: none; /* Remove o contorno que é aplicado por padrão quando um elemento HTML é selecionado. */
    font-family: Arial, Helvetica, sans-serif;
    color: #2b344b;
    font-size: 10pt;
}

#botao {
    margin-top: 5%; /* Define a margem superior do elemento como 5% */
    width: 35%; /* Define a largura do elemento como 35% */
    text-align: center; /*  - Define o alinhamento horizontal do conteúdo do elemento como centralizado. */
}

#botao button {
    font-family: Arial, Helvetica, sans-serif;
    background: #96BEE4;
    width: 100%;
    height: 40px;
    border: none;
    font-size: 1em;
    color: #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer; /* define o tipo de cursor que será exibido quando o mouse estiver sobre o elemento como um ponteiro */
}

#botao button:hover{
    background: #96BEE4;
}

/* __________________________________________________________________________ */
/* Mapa */
.mapa {
    /* text-align: center; */
    font-size: 0.9em;
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid black;
}
